    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/layout/home.html"><img src="/assets/cleaners-logo-mini.jpg" width="50" height="31" /></a>
          <p class="navbar-text pull-right">
              Olá, Flávio (<a href="/login" class="navbar-link">Sair</a>)
          </p>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/layout/home.html">Início</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serviços <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/layout/servicos-novo.html">Novo</a></li>
                  <li><a href="/layout/servicos-todos.html">Todos</a></li>
                  <!--<li><a href="/layout/servicos-agendamentos.html">Agendamentos</a></li>-->
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/layout/clientes-novo.html">Novo</a></li>
                  <li><a href="/layout/clientes-todos.html">Todos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resumo <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/layout/resumo.html">Geral</a></li>
                  <li><a href="/layout/resumo-financeiro.html">Financeiro</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Atalhos</h1>

      <form class="form-search">
        <input type="text" class="input-medium search-query" placeholder="Placa">
        <button type="submit" class="btn">Buscar</button>
      </form>

      <form class="form-search">
        <input type="text" class="input-medium search-query" placeholder="Cliente">
        <button type="submit" class="btn">Buscar</button>
      </form>

      <hr>

      <h1>Serviços Abertos</h1>

      <table class="table table-striped table-condensed table-hover">

        <thead>
          <tr>
            <th>cod. interno</th>
            <th>placa</th>
            <th>nome do cliente</th>
            <th>serviços</th>
            <th>data</th>
            <th>tempo total</th>
            <th>faturado?</th>
            <th>pagamento</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>

          <tr>
            <td><a href="/layout/servicos-detalhes.html">000024</a></td>
            <td>JHD9399</td>
            <td>José Sousa</td>
            <td>
              <ul class="unstyled">
                <li>lavagem básica</li>
                <li>resina</li>
              </ul>
            </td>
            <td>26/01/2013</td>
            <td>00:43h</td>
            <td>não</td>
            <td>--</td>
            <td><a href="/layout/servicos-finalizar.html" class="btn btn-primary">Finalizar</a>
              <a href="/layout/servicos-detalhes.html" class="btn btn-info">Detalhes</a>
            </td>
          </tr>

        </tbody>

      </table>

      <hr>

      <footer>
        <p>&copy; Cleaners 2013</p>
      </footer>

    </div> <!-- /container -->