<div class="container">

  <h1><%=t('helpers.header.shortcuts')%></h1>

  <form class="form-search">
    <input type="text" class="input-medium search-query" placeholder="Placa">
    <button type="submit" class="btn">Buscar</button>
  </form>

  <form class="form-search">
    <input type="text" class="input-medium search-query" placeholder="Cliente">
    <button type="submit" class="btn">Buscar</button>
  </form>

  <hr>

  <%= render 'open_orders' %>

  <hr>

</div> <!-- /container -->
